# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local uploads folder (ignored)
uploads/

# Environment variables (ignore common env files)
.env

# Ensure the llmresearch folder ignored
llmresearch/

